* {
  margin: o;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}

ul, li, a {
  list-style: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.img-body img {
  margin-left: 45%;
}

/*start nav*/
nav {
  width: 100%;
  margin-top: 50px;
}

nav .content .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .content .navbar-nav:hover {
  color: #FFC80A;
}

nav .content .navbar-nav span {
  padding: 0 10px;
}

nav .content .navbar-nav .en {
  color: #484848;
}

nav .content .navbar-nav .en:hover {
  color: #C69A63;
}

nav .btn button {
  width: 162px;
  height: 30px;
  border: 1px solid #DEDEDE;
  border-radius: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .btn button img {
  float: right;
}

/* start header*/
header {
  width: 100%;
  padding: 50px 0 75px;
  position: relative;
}

header .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header .search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #C69A63;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

header .search button {
  content: "";
  display: block;
  background: url("../image/search.png") no-repeat left center;
  background-size: auto 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20px;
  height: 20px;
  border: none;
}

header .search input {
  width: 100%;
  border: none;
}

header .map {
  width: 100%;
  margin-left: 150px;
}

header .item .image {
  width: 100%;
}

header .item .image img {
  width: 100%;
  height: 100%;
}

header .item .name {
  font-size: 28px;
  font-weight: bold;
}

header .item hr {
  width: 150px;
  height: 2px;
  margin: 20px 0;
  background: #FFC80A;
}

header .item .info .phone {
  margin-bottom: 30px;
}

header .item .info .phone span {
  padding: 0 10px 0 0;
}

header .back {
  margin-bottom: 20px;
}

header .back .btn {
  padding: 10px 15px;
  width: 100px;
  background-color: #FFFBF1;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .back .btn img {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 30px;
}

header .back .btn span {
  color: #484848;
  font-family: 'regualr';
  font-size: 22px;
}

header .square {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 80px 80px 80px;
      grid-template-columns: 80px 80px 80px 80px;
  -ms-grid-rows: 80px 80px 80px 80px;
      grid-template-rows: 80px 80px 80px 80px;
  background-color: #fff;
}

header .square label {
  margin: 0;
  width: 90px;
  height: 70px;
  background-color: #FFFFFF;
  color: black;
  border: 2px solid #DEDEDE;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

header .square label span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 48px;
}

header .map {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  margin-bottom: 25px;
}

header .map .img img {
  width: 750px;
  height: 400px;
}

header .map .icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
}

header .item-card {
  width: 30%;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
  border: 2px solid transparent;
  -webkit-transition: border .5s ease-in;
  transition: border .5s ease-in;
}

header .item-card:hover {
  border-color: #DEDEDE;
}

header .item-card .imag img {
  width: 100%;
}

/*infor*/
.information {
  padding: 30px;
}

.information .name {
  color: #000;
  font-size: 34px;
  font-weight: bold;
  position: relative;
}

.information .name::after {
  width: 100px;
  height: 2px;
  background-color: #C69A63;
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: 0;
}

.information p {
  color: #484848;
  font-size: 20px;
  text-align: justify;
  line-height: 1.5rem;
  font-family: 'regualr';
  margin: 20px 0px;
  padding: 0 20px;
}

.artical .see .heading a,
.heading a {
  color: #000;
  font-size: 29px;
  font-family: bold;
  text-align: center;
}

.artical .see .heading p,
.news .heading p {
  text-align: center;
  color: #484848;
  font-size: 20;
  margin: 20px 25px;
}

.movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 75px 0;
}

.movie .info {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie .info .image {
  width: 478px;
  margin-right: 150px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: 100%;
}

.movie .info .image img {
  width: 100%;
}

.movie .info .Snown {
  margin-top: 110px;
}

.movie .info .Snown h1 {
  font-size: 108px;
  font-weight: bold;
  padding: 0 0 25px;
  margin: 0 0 25px;
  line-height: 1;
  position: relative;
}

.movie .info .Snown h1::after {
  width: 100px;
  height: 2px;
  background-color: #C69A63;
  position: absolute;
  content: "";
  display: block;
  left: 0;
  bottom: 0;
}

.movie .info .Snown p {
  font-size: 20px;
  font-family: regular;
  color: #484848;
  text-align: justify;
  max-width: 600px;
}

.movie .info .Snown a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movie .info .Snown .buy-ticket {
  display: inline-block;
  background: #FFC80A;
  background-size: 120%;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 25px 20px;
  text-decoration: none;
  margin-top: 90px;
}

.movie .mostafa img {
  width: 95%;
  margin-left: 60px;
}

/*artical*/
.artical .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.artical .big {
  width: 70%;
  margin-top: -300px;
}

.artical .see {
  width: 30%;
  margin: 0 90px;
  margin-right: auto;
}

.artical .see .heading p {
  text-align: center;
  color: #484848;
  font-size: 20;
  margin: 20px 25px;
}

.artical .see .heading a {
  color: #000;
  font-size: 29px;
  font-family: bold;
  text-align: center;
}

.artical .see .item-card {
  width: 100%;
}

.artical .see .search-see {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-bottom: 2px solid #707070;
  margin-bottom: 50px;
}

.artical .see .search-see a {
  color: #484848;
  font-size: 20px;
}

.artical .see .search-see h4 {
  color: #000000;
  font-size: 34px;
}

.artical .info {
  margin: 5px 70px;
}

.artical .info h1 {
  font-size: 72px;
  font-family: bold;
  color: #C69A63;
}

.artical .info p {
  font-size: 20px;
  font-family: regular;
  color: #484848;
  line-height: 1.5rem;
  text-align: justify;
  max-width: 900px;
}

.artical .big img {
  width: 100%;
  height: 100%;
}

/*strat footer*/
footer .logo h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .logo h1::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
}

footer .logo h1::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
}

footer .line {
  margin: 50px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .line .column {
  width: 22%;
  padding: 0 15px;
  color: #373535;
}

footer .line .column .title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 25px;
}

footer .line .column ul li a {
  color: #000;
}

footer .line .column .items-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .line .column .items-social li {
  padding: 0 5px;
}

/*news*/
main .new h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

main .new h4::before,
main .new h4::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

main .new h4::before {
  margin-right: 20px;
}

main .new h4::after {
  margin-left: 20px;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 120px 120px 120px 120px;
      grid-template-columns: 120px 120px 120px 120px;
  -ms-grid-rows: 120px 120px 120px 120px;
      grid-template-rows: 120px 120px 120px 120px;
  grid-gap: 10px;
  background-color: #fff;
}

.wrapper .box a {
  color: #000;
}

.box {
  background-color: #FFFFFF;
  color: black;
  border: 2px solid #DEDEDE;
  border-radius: 5px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */